{% extends "base.html" %}
{% block content %}
 <div id="page-content-wrapper">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-12">
                 {% if 'user_id' in session %}
                    <a role="button" class="btn btn-primary mb-3" href="{{ url_for('add_game') }}">Add new game</a>
                    <a role="button" class="btn btn-success mb-3" href="{{ url_for('logout') }}">Logout</a>
                 {% else %}
                    <a role="button" class="btn btn-success mb-3" href="{{ url_for('login') }}">Login</a>
                 {% endif %}
                 {% if chosen_category %}
                    <h2>Listing all {{ chosen_category.name }} games</h2>
                 {% else %}
                    <h2>Latest games added</h2>
                 {% endif %}
                 {% for game in games %}
                    <div class="card mt-3 mb-3" style="width: 30rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ game.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ game.category.name}}</h6>
                            <p class="card-text">{{ game.description }}</p>
                            {% if 'user_id' in session and session['user_id'] == game.user_id %}
                                <a href="{{ url_for('update_game', game_id=game.id) }}" class="card-link">Update</a>
                                <a href="{{ url_for('delete_game', game_id=game.id) }}" class="card-link">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
             </div>
         </div>
     </div>
</div>
{% endblock %}